* {
	padding: 0;
	margin: 0;
	border: 0;
}

@font-face {
	font-family: quattrocento;
	src: url('quattrocento.ttf');
}

@font-face {
	font-family: Frank Ruhl Libre;
	src: url('Frank Ruhl Libre.ttf');
}

.container {
	padding-left: 20px;
	margin-left: 357px;
	padding-top: 8px;
}

.link1 {
	font-family: quattrocento;
	font-size: 12px;
	padding: 16px;
	letter-spacing: 2px;
	color: white;
	font-weight: 300;
	background: #88cbde;
	text-decoration: none;
}

a.link1:hover {
	text-decoration: none;
	opacity: 0.8;
	color: white;
}

.link {
	font-family: quattrocento;
	font-size: 12px;
	padding: 16px;
	letter-spacing: 2px;
	color: black;
	font-weight: 300;
	text-decoration: none;
	padding-right: 0px;
}

a.link:hover {
	text-decoration: none;
	opacity: 0.7;
	color: black;
}

.link:before {
	content: '•';
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px;
    margin-right: 15px;
}

.dropdown-menu {
	border: 1px solid black;
	border-radius: 0px;
}

.dropdown-item {
	font-family: quattrocento;
	font-size: 12px;
	letter-spacing: 2px;
	color: black;
	font-weight: 300;
	text-decoration: none;
	text-align: center;

}

a.dropdown-item:hover {
	text-decoration: none;
	opacity: 0.7;
	color: black;
	background: transparent;
}

hr {
	margin-top: 12px;
	opacity: 0.7
}

img.logo {
	height: 99px;
	margin-top: 29px;
	margin-right: 15px;
}

.linha {
	margin-top: 38px;
	width: 1190px;
}

li.cab {
	display: inline;
	font-family: quattrocento;
	font-size: 10px;
	letter-spacing: 2px;
	color: #88cbde;
}

li.cab:hover {
	color: black;
	transition: .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.seção {
	margin-top: 40px;
}

.titulo {
	font-size: 28px;
	font-family: Frank Ruhl Libre;
	line-height: 1.2;
	margin-left: -17px;
	margin-top: -8px;
}

.col1 {
	margin-left: 30px;
}

img.imagem {
	width: 770px;
	height: 513px;
}

.data {
	font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    margin-top: 15px;
    display: block;
    font-family: quattrocento;
}

.texto {
	color: #4c4c4c;
    line-height: 1.6;
    text-align: justify;
    font-family: quattrocento;
    font-size: 14px;
}

.texto1 {
	width: 765px;
	margin-left: 5px;
	margin-top: 14px;
}

.botao1 {
	font-family: quattrocento;
	padding: 14px 22px 12px;
    border: 1px solid #000;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.botao {
	margin: 35px auto 20px;
	margin-bottom: 70px;
}

.botao1:hover {
	color: white;
	background-color: black;
	transition: .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-decoration: none;
}

a.coment {
	font-size: 12px;
	font-family: quattrocento;
	letter-spacing: 2px;
	color: black;
	float: left;
}

a.coment:hover {
	color: #88cbde;
	text-decoration: none;
	transition: 3s;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

i.fa-comments {
	margin-right: 5px;
}

.botao2 {
	background-color: #3b5998;
	color: white;
	font-family: Arial;
	font-size: 11px;
	border-radius: 2px;
	padding: 5px;
	margin-right: 18px;
	float: right;
}

a.botao2:hover {
	color: white;
	background-color: #334E84;
	text-decoration: none;
}

i.icons {
	color:  #c9a470;
	font-size: 25px;
	margin-right: 18px;
	float: right;
}

i.icons:hover {
	color: black;
	transition: .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.clearfix {
	overflow: auto;
}

img.perfil {
	height: 250px;
	width: 250px;
	margin-top: 10px;
	margin-left: 25px;
}

.col2 {
	margin-left: 75px;
}

p.bio {
	font-size: 12.5px;
	font-family: quattrocento;
	text-align: center;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 20px;
	line-height: 180%;
}

img.banner {
	width: 285px;
	height: 221px;
	margin: 0px;
	padding: 0px;
}

.videos {
	background-color: #f5fafb;
	margin: 0px;
}

img.video {
	padding: 30px 30px 30px 10px;
}

img.video2 {
	padding: 30px 10px 30px 0px;
}

i.fa-chevron-left {
	margin-left: 330px;
}